/* Get the fonts */

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

:root {
  /* Set site to accept dark mode */
  color-scheme: light dark;

  /* colors */
  --clr-background-dark: hsl(75, 3%, 24%);
  --clr-background-light: hsl(32, 50%, 90%);
  --clr-fonts-dark: hsl(32, 50%, 90%);
  --clr-fonts-light: hsl(75, 3%, 24%);
  --clr-links: hsla(16, 79%, 48%, 0.8);
  --clr-links-hover: hsl(16, 79%, 48%);
  --clr-light-blue: hsl(197, 20%, 69%);
  --clr-dark-brown: hsl(11, 96%, 28%);

  /* Set the dark and light themes */
  --background: var(--clr-background-light);
  --text: var(--clr-fonts-light);

  @media (prefers-color-scheme: dark) {
    --background: var(--clr-background-dark);
    --text: var(--clr-fonts-dark);
  }

  /* fonts */
  --ff-headings: 'Barlow';
  --ff-content: 'Merriweather';
  --ff-fallback: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --fw-light: 100;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-x-large: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-large: 3.5rem;
  --fs-mid: 1.5rem;
  --fs-reg: 1.125rem;
  --fs-small: 0.9875rem;
  --fs-x-small: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  height: auto;
  font-style: italic;
}

.skip-to-content {
  position: absolute;
}

body {
  background: var(--background);
  color: var(--text);
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  font-family: var(--ff-content), var(--ff-fallback);
}

h1,
h2,
h3 {
  font-family: var(--ff-headings), var(--ff-fallback);
}

h1,
h2 {
  font-weight: var(--fw-thin);
}

h1 {
  font-size: var(--fs-x-large);
  margin: 0;
  line-height: 1;
  letter-spacing: -7px;
}

/* utillity classes */
.flex {
  display: flex;
  flex-direction: var(--flex-dir, row);
  gap: var(--flex-gap, 1em);
  justify-content: var(--flex-justify, space-between);
  align-items: var(--flex-align, center);
}

.grid {
  display: grid;
}

.wrapper {
}

/* Colors for social icons */
#github {
  fill: #000000;
}

#linkedin {
  fill: #007ab6;
}

#mastodon {
  fill: #6364ff;
}

#bluesky {
  fill: #295ef6;
}
