/* Utility classes */

.grid {
  display: grid;
}

.flex {
  --dir: row;
  --justify: space-between;
  --align: canter;
  --gap: 1em;
  display: flex;
  flex-direction: var(--dir);
  justify-content: var(--justify);
  align-items: var(--align);
  gap: var(--gap);
}
